
    /*---------------------media_Start_lareg---------------------*/
 
@media (min-width:992px) and (max-width:1200px){

    
    .main-background img:nth-child(1){
        left:61%;
        width:25%;
    }
    
    
    
    
    .m-b-content img:nth-child(1){
        top:10%;
        left: -10%;
        width:18%;
        opacity:.3;
    }
    
    
    .text-mass{
        left: 78%;
        top: 30%;
        background-color:#BB2B7D;
    
    }
    
    
    
    }
    
    /*---------------------media_End_lareg---------------------*/
    

    /*---------------------media_Start_Meduim--------------------*/

    
    @media (min-width:768px) and (max-width:991px){
    
        
        .main-background img:nth-child(1){
            left:63%;
            width:26%;
        }
        
        
        
        
        .m-b-content img:nth-child(1){
            top:10%;
            left: -10%;
            width:24%;
            opacity:.3;
        }
        
        
        .text-mass{
            left: 81%;
            top: 45%;
            background-color:#BB2B7D;
        
        }
    
        .m-b-content-h1-b-button{
            padding-left: 0px;
        }
    
        .m-b-content-h1-b-button p{
            font-size: 12px;
        }
        
        }
    
    
        
    @media  (min-width:552px) and (max-width:767px){
    
        
        .main-background img:nth-child(1){
            left:10%;
            width:38%;
        }
        
        
        
        
        .m-b-content img:nth-child(1){
            top:10%;
            left: -10%;
            width:24%;
            opacity:.3;
        }
        
    
        .m-b-content-h1-b-button{
            display:none;
        }
    
        .text-mass{
            background-image: linear-gradient(to right ,#303E87 50%,#BB2B7D 50%);
            clip-path:circle(100%);
            height: 50px;
            left: 70%;
        }
    
        }
    
    /*---------------------media_End_Meduim--------------------*/

    /*---------------------media_Start_Small--------------------*/

          
    @media  (min-width:200px) and (max-width:551px){
        .main-background{
            background-color: #303E87;
            height: 80vh;
            border-bottom-right-radius:0;
            clip-path:circle(100%);
            border-bottom-right-radius:0;
            overflow: hidden;
            position: relative;
        }
    
    
            
        .main-background img:nth-child(1){
            right: 5%;
            width:40%;
        }
        
        
        
        
        .m-b-content img:nth-child(1){
            top:10%;
            left: -10%;
            width:24%;
            opacity:.3;
        }
    
    
        .m-b-content-h1-b-button{
    
            padding: 14px;
    
        }
        .m-b-content-h1-b-button p{
            font-size: 9px;
            word-wrap: break-word;
            font-weight: 700;
        }
    
        .m-b-content-h1-b-button h1{
            font-size:30px;
        }
    
        .m-b-content-h1-b-button{
            padding: 10px 20px;
        } 
        .text-mass{
            background-image: linear-gradient(to right ,#303E87 50%,#BB2B7D 50%);
            clip-path:circle(100%);
            height: 50px;
            left: 70%;
        }
        
        }

    /*---------------------media_Small-End-------------------*/

    /*---------------------Special-media_Aipad-Start-------------------*/
     @media(min-width:768px) and (min-height:1020px){
        .main-background img:nth-child(1){
            width:70%;
            bottom: 1%;
            left: 35%;
            opacity: .3;
        }
        
        
        
        
        .m-b-content img:nth-child(1){
            top:10%;
            left: -10%;
            width:24%;
            opacity:.3;
        }

        .text-mass{
            background-image: linear-gradient(to right ,#303E87 50%,#BB2B7D 50%);
            clip-path:circle(100%);
            height: 50px;
            left: 75%;
        }
     }  
    /*---------------------Special-media_Aipad-End-------------------*/

